# data directories
Data/Local
Data/Retest_*/Local
Data/Retest_*/batch_output

# Results directories
*.pkl
*.pdf
*.png

# misc
.Rhistory
.fuse*
*.pyl
.ipynb_checkpoints
*.pyc
*.nb.html
*.egg-info
.spyproject/
!example_data_post.pkl
*.Rdata
.eggs
internal_settings.json
Self_Regulation_*Settings.txt
dimensional_structure/Output/*/*ID*
# directories
.spyproject/
batch_files/*csv
batch_files/*model
batch_files/*.db
batch_files/.out
batch_files/.err
batch_files/output
batch_files/hddm*
batch_files/*/*csv
batch_files/*/*model
batch_files/*/*.db
batch_files/*/.out
batch_files/*/.err
batch_files/*/output
batch_files/*/hddm*
singularity_images/*img
temp
build
dist*
glove.6B.50d.txt